th, td, p, h3 {
    font:20px 'Segoe UI';
}
table, th, td {
    border: solid 2px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}

.label{
    padding: 2px;
    text-align: left;
}
